extends layout
block content
  h1= title
  form(id='restaurantForm', action="/resource/restaurant", method="POST")
    div.form-group
      label.restaurantAttr(for='name') restaurant name  
      input#name(type='text', name='name')
    div.form-group
      label.restaurantAttr(for='place') restaurant place
      input#place(type='text', name='place')
    div.form-group
      label.restaurantAttr(for='bill') restaurant bill
      input#bill(type='number', name='bill')
    input(type="submit")
  script.
    document.forms['restaurantForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle the body
      }).catch((error) => {
        // TODO handle the error
        alert("Save failed " + error);
      });
    });
